@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

::-webkit-scrollbar {
  width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column ;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  background-image: url("https://wallpaper.dog/large/10858613.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Titan One", cursive;
}

input {
  text-align: center;
  font-family: "Titan One", cursive;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.5);
  height: 45vh;
  width: 85vw;
  padding: 3vw;
  border-radius: 12px;
  overflow-y: scroll;
}

aside p {
  color: rgb(65, 65, 65);
}

.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 45vh;
  width: 85vw;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  padding: 3vw;
}

select {
  font-size: 5vw;
  width: 40%;
  text-align: center;
  color: rgb(65, 65, 65);
  border: none;
  outline: none;
  font-family: "Titan One", cursive;
}

#start-btn,
#play-again-btn {
  color: rgb(65, 65, 65);
  font-size: 2vw;
  height: 15vw;
  width: 15vw;
  border-radius: 50%;
  border: none;
  outline: none;
  background-image: url("https://www.pngkey.com/png/full/28-287945_soccer-ball-svg.png");
  background-size: cover;
  cursor: pointer;
  filter: opacity(0.9);
}

#redirect-btn{
    color: rgb(65, 65, 65);
    font-size: 2vw;
    height: 15vw;
    width: 15vw;
    border-radius: 12px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    background-image: url("assets/lockers.png");
    background-size: cover;
    cursor: pointer;
    filter: opacity(0.9);
}

.main-menu label {
  font-size: 6vw;
  color: rgb(65, 65, 65);
}

.main-menu input {
  font-size: 4vw;
  outline: none;
  border: none;
  border-radius: 12px;
  padding: 1vw;
  color: rgb(65, 65, 65);
}

#img1 {
  grid-area: img1;
}
#img2 {
  grid-area: img2;
}
#img3 {
  grid-area: img3;
}
#img4 {
  grid-area: img4;
}
#img5 {
  grid-area: img5;
}
#img6 {
  grid-area: img6;
}
#img7 {
  grid-area: img7;
}
#img8 {
  grid-area: img8;
}
#img9 {
  grid-area: img9;
}
#img10 {
  grid-area: img10;
}
#img11 {
  grid-area: img11;
}
#img12 {
  grid-area: img12;
}
#img13 {
  grid-area: img13;
}
#img14 {
  grid-area: img14;
}
#img15 {
  grid-area: img15;
}
#img16 {
  grid-area: img16;
}

.img-box {
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.play-area {
  display: grid;
  grid-template-areas:
    "img1 img2 img3 img4"
    "img5 img6 img7 img8"
    "img9 img10 img11 img12"
    "img13 img14 img15 img16";
  gap: 10px;
  height: 45vh;
  width: 85vw;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  padding: 3vw;
}

.game-end {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  height: 45vh;
  width: 85vw;
  border-radius: 12px;
  padding: 3vw;
}
.btns-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.game-end p {
  color: rgb(65, 65, 65);
  font-size: 2vw;
}

.hidden {
  display: none;
}

#game-result, #play-time {
    font-size: 6vw;
    color: rgb(65, 65, 65);
    margin: 0;
}

.button-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.btns-container div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 600px){
  body{
    flex-direction: row;
     }
.main-menu, .play-area, .game-end{
  height: 80vh;
  width: 70vw;
}
aside{
  height: 80vh;
  width: 15vw;
}
select{
  font-size: 2vw;
}
#start-btn, #play-again-btn, #redirect-btn{
  height: 10vw;
  width: 10vw;
}
}
